<ion-content>  
  <ion-item>
    <ion-label>Children</ion-label>
    <ion-label>Managed together.</ion-label>
  </ion-item>

  <ion-card class="viewCards">
    <ion-thumbnail>
        <img src='../assets/images/kayla.png'>
    </ion-thumbnail>
  </ion-card>
  
  <ion-card class="viewCards">
    <ion-thumbnail>
      <img src='../assets/images/maggie.png'>
    </ion-thumbnail>
  </ion-card>
      
  <ion-card class="viewCards">
    <ion-thumbnail>
      <img src='../assets/images/superman.png'>
    </ion-thumbnail>
  </ion-card>
</ion-content>
