
<ion-header>

    <ion-card class="homePic">
        <img src='../assets/images/home.png'>
      </ion-card>
  
    <ion-segment no-padding no-margin class="no-border-radius segment-card" (ionChange)="segmentChanged($event)" [(ngModel)]="page">
      <ion-segment-button value="0" (click)="selectedTab(0)" >
        <ion-label>Learning & Care</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1" (click)="selectedTab(1)">
        <ion-label>Parenting Programs</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2" (click)="selectedTab(2)">
        <ion-label>Health & Safety</ion-label>
      </ion-segment-button>
    </ion-segment>

</ion-header>

<ion-content>
<ion-slides #slider (ionSlideWillChange)="moveButton()">
  <ion-slide>
      <h1>Slide 2</h1>
  </ion-slide>
    
  <ion-slide>
    <h1>Slide 2</h1>
  </ion-slide>

  <ion-slide>
    <h1>Slide 3</h1>
  </ion-slide>
</ion-slides>
</ion-content>
